---
import Base from '../layouts/Base.astro';
import DocumentPage from '../components/DocumentPage.astro';
import type { Locale } from '../lib/i18n';

const locale: Locale = 'th';
---

<Base locale={locale}>
  <main>
    <DocumentPage locale={locale} />
  </main>
</Base>
